@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
	--body: linear-gradient(to right bottom, #ffda08, #f88728);
	--blue: #6375ff;
	--white: #ffffff;
	--text-gray: rgb(184, 184, 184);
	--orange: #ff8800;
	--gray: #555555;
}

html,
body {
	max-width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	background: var(--body);
	overflow-x: hidden;
}
